<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Profile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

 <div th:replace="header.html"></div>
<div th:replace="sidebar.html"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
       
      </nav>
    </div><!-- End Page Title -->
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${infoChanged}">
               les informations utilisateur ont été modifiées 
       </div>
       <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${passwordChanged}">
               Le mot de passe a été changé
       </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${infoNotChanged}">
           Erreur de changement des informations d'utilisateur
   	</div>
   	<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${passowrdIncorrect}">
          le mot de passe incorrecte!
   	</div>
   	<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${passowrdsNotMatched}">
   		Les mots de passe saisis ne sont pas identiques
   	</div>
   	

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="assets/img/profile.png" alt="Profile" class="rounded-circle">
              <h2 th:text="${user.lastname}"></h2>
              <h2 th:text="${user.firstname}"></h2>
             
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Aperçu</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editer le Profil</button>
                </li>

               

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Changer le mot de passe</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
             
                  <h5 class="card-title">Détails du profil</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Nom et prénom</div>
                    <div class="col-lg-9 col-md-8" th:text="${user.firstname} + ' ' + ${user.lastname}"></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8" th:text="${user.address} + ' , ' + ${user.city}"></div>
                  </div>

               	<div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8" th:text="${user.email}"></div>
                  </div>
				
				<div class="row">
                    <div class="col-lg-3 col-md-4 label">Date de naissance</div>
                    <div class="col-lg-9 col-md-8" th:text="${user.dateOfBirth}"></div>
                  </div>
                 


                 

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form th:action="@{/change-user-info}" method="post" th:object="${user}">
                    
              
                  
                    <div class="row mb-3">
                      <label for="lastnameId" class="col-md-4 col-lg-3 col-form-label">Nom</label>
                      <div class="col-md-8 col-lg-9">
                        <input  class="form-control" th:field="*{lastname}" type="text" id="lastnameId" name="lastname" required minlength="3">
                      	<div class="hibernate-validator-error" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" ></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="firstnameId" class="col-md-4 col-lg-3 col-form-label">Prénom</label>
                      <div class="col-md-8 col-lg-9">
                    	<input th:field="*{firstname}" type="text" id="firstnameId" name="firstname" class="form-control" required minlength="3" >
                      	<div class="hibernate-validator-error" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" ></div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="emailId" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
 							<input th:field="*{email}" type="email" id="emailId" name="email" class="form-control" required >
                    		<div class="hibernate-validator-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div></div>
                    </div>

                    <div class="row mb-3">
                      <label for="addressId" class="col-md-4 col-lg-3 col-form-label">Adresse</label>
                     	 <div class="col-md-8 col-lg-9">
							<input th:field="*{address}" type="text" id="addressId" name="address" class="form-control" required >
                   			 <div class="hibernate-validator-error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}" ></div>
                   		</div>
                    </div>

                    <div class="row mb-3">
                      <label for="cityId" class="col-md-4 col-lg-3 col-form-label">Ville</label>
                      <div class="col-md-8 col-lg-9">
 								<input th:field="*{city}" type="text" id="cityId" name="city" class="form-control" required >
                   				 <div class="hibernate-validator-error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}" ></div>
                            </div>
                    </div>

       

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Sauvegarder les modifications</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>


                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form th:action="@{/change-user-password}" method="post">

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mot de passe actuel</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nouveau mot de passe</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Ré-entrez le nouveau mot de passe</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword" required>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
    </div>
    <div class="credits">
 
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>