<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Les Projets</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

 <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
         
          </a>
        </li><!-- End Search Icon-->

        

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
    
       <li class="nav-item">
		    <a class="nav-link collapsed"  th:href="@{/projects-table}">
		      <i class="bi bi-list-ul"></i>
		      <span>Voir les projets</span>
		    </a>
		  </li>
		  
    
    	 <li class="nav-item">
		    <a class="nav-link collapsed" th:href="@{/add-project}">
		      <i class="bi bi-plus-square-dotted"></i>
		      <span>Créer un projet</span>
		    </a>
		  </li>
		  
		  <li class="nav-item">
		    <a class="nav-link collapsed"  th:href="@{/developers-table}">
		      <i class="bi bi-person-lines-fill"></i>
		      <span>Voir les développeurs</span>
		    </a>
		  </li>
		  
	 	<li class="nav-item">
		    <a class="nav-link collapsed" th:href="@{/}">
		      <i class="bi bi-bar-chart"></i>
		      <span>Statistique</span>
		    </a>
		  </li>	  
		  
		  <li class="nav-item">
		    <a class="nav-link collapsed" th:href="@{/old-projects-table}">
		      <i class="bi bi-archive"></i>
		      <span>Archive des projets</span>
		    </a>
		  </li>	 

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Projets</h1>
    
    </div><!-- End Page Title -->
  
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${projectDeleted}">
               Le projet a été supprimé!  
       </div>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Table des projets</h5>
              

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Déscription</th>
                    <th scope="col">Etat</th>
                    <th scope="col">date de début</th>
                    <th scope="col">type</th>
                    <th scope="col">Chef de projet</th>
                    <th scope="col">Dévelopeurs</th>
                    <th scope="col">Supprimer</th>
                    <th scope="col">Éditer</th>
                    <th scope="col">Terminer</th>
                  </tr>
                </thead>
                <tbody>
               <tr th:each="project:${projects}">
                    <th scope="row" th:text="${project.projectID}"></th>
                    <td th:text="${project.title}"></td>
                    <td th:text="${project.description}"></td>
                    <td th:text="${project.state}"></td>
                    <td th:text="${project.start_date}"></td>
                    <td th:text="${project.type}"></td>
                    <td th:if="${project.projectManager != null}" th:text="${project.projectManager.firstname}+' ' +${project.projectManager.lastname}"></td>  
                 	<td th:unless="${project.projectManager != null}"></td>  

                    <td>
						<a th:each="developer : ${project.developers}" th:if="${developer.project.projectID}==${project.projectID}" th:text="${developer.firstname}+' '+ ${developer.lastname} + ' ,'" th:href="@{developer-page?id={id} (id=${developer.id})}" ></a>
					</td>
					<td> 
						<a th:href="@{delete-project?id={id} (id=${project.projectID})}" th:onclick="return confirm('Voulez-vous supprimer ce projet?');"><button class="btn btn-outline-danger">Supprimer</button></a>  
					</td>
					<td> 
						<a th:href="@{edit-project?id={id} (id=${project.projectID})}" th:onclick="return confirm('Voulez-vous Éditer ce projet?');"><button class="btn btn-outline-primary">Éditer</button></a>  
					</td>
					<td> 
						<a th:href="@{finish-project?id={id} (id=${project.projectID})}" th:onclick="return confirm('Voulez-vous terminer ce projet?');"><button class="btn btn-outline-success">Terminer</button></a>  
					</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>