
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
    
       <li class="nav-item">
		    <a class="nav-link collapsed"  th:href="@{/projects-table}">
		      <i class="bi bi-list-ul"></i>
		      <span>Voir les projets</span>
		    </a>
		  </li>
		  
    
    	 <li class="nav-item" sec:authorize="hasRole('DIRECTOR')">
		    <a class="nav-link collapsed" th:href="@{/add-project}">
		      <i class="bi bi-plus-square-dotted"></i>
		      <span>Créer un projet</span>
		    </a>
		  </li>
		  
		  <li class="nav-item" sec:authorize="hasAnyRole('DIRECTOR', 'PROJECTMANAGER')">
		    <a class="nav-link collapsed"  th:href="@{/developers-table}">
		      <i class="bi bi-people-fill"></i>
		      <span>Voir les développeurs</span>
		    </a>
		  </li>
		  <li class="nav-item" sec:authorize="hasAnyRole('DIRECTOR', 'PROJECTMANAGER')">
		    <a class="nav-link collapsed"  th:href="@{/add-developer}">
		      <i class="bi bi-person-plus-fill"></i>
		      <span>Ajouter un développeur</span>
		    </a>
		  </li>
		  
		   <li class="nav-item" sec:authorize="hasRole('DIRECTOR')">
		    <a class="nav-link collapsed"  th:href="@{/project-managers-table}">
		      <i class="bi bi-people"></i>
		      <span>Voir les chefs de projet</span>
		    </a>
		  </li>
		  
		  <li class="nav-item" sec:authorize="hasRole('DIRECTOR')">
		    <a class="nav-link collapsed"  th:href="@{/add-project-manager}">
		      <i class="bi bi-person-plus"></i>
		      <span>Ajouter un chef de projet</span>
		    </a>
		  </li>
		  
		  
		  
	 	<li class="nav-item">
		    <a class="nav-link collapsed" th:href="@{/}">
		      <i class="bi bi-bar-chart"></i>
		      <span>Statistique</span>
		    </a>
		  </li>	  
		  
		  <li class="nav-item" sec:authorize="hasAnyRole('DIRECTOR', 'PROJECTMANAGER')">
		    <a class="nav-link collapsed" th:href="@{/old-projects-table}">
		      <i class="bi bi-archive"></i>
		      <span>Archive des projets</span>
		    </a>
		  </li>	 

    </ul>

  </aside><!-- End Sidebar-->